$small: 768px;
$medium: 992px;
$large: 1200px;

#designerSeriesContainer {
  width: 80%;
  margin: auto;
  
  #custom-text {
    width: 400px;
  }
}

@media (max-width: $large) {
  #designerSeriesContainer {
    width: 100%;
  }
}