$light-teal: #a7cccb;

$small: 768px;
$medium: 992px;
$large: 1200px;

#wholesale {
  p {
    font-size: 18px;
  }
  
  .section-header__title {
    display: none;
  } 
  
  .quote-container {
    width: 900px;
    height: auto;
  	margin: auto;  
    margin-top: -25px;
    
    hr {
      margin-top: -12px;
      border-width: 4px 0 0;
      border-color: $light-teal;
    }
  }
}

@media (max-width: $medium) {
  #wholesale {
    .quote-container {
      width: 100%;
      margin: auto;

      img {
        height: 100%;
        width: 100%;
        display: block;
        margin: auto;
      }

      hr {
        border-width: 4px 0 0;
        border-color: $light-teal;
        margin-top: -12px;
      }
    }
  }
}

@media (max-width: $small) {
  #wholesale {
    background-image: none;
  }
}